//字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 20px;

//颜色定义规范
$bg-color-gray: #eee;
$bg-color-white: #fff;

//字体颜色
$color:#1CA261;
$font-size-color:#fff;